{% extends "base.html" %}

{% block controls %}
    <a href="/tasking/task" class="btn btn-sm btn-default">New Task</a>
{% endblock controls %}

{% block content %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>State</th>
                        <th>Link</th>
                        <th>Progress</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td><a href="/tasking/task/{{ task.pk }}/">{{ task.name }}</a></td>
                            <td>{{ task.state }}</td>
                            <td><a href="{{ task.link }}">{{ task.link }}</a></td>
                            <td>
                                <div class="progress" style="margin-bottom:0px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.complete }}%;"></div>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default" href="/tasking/task/edit/{{ task.pk }}/">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}