{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Dispatch</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
        <style type="text/css">
        div.list-group
        {
            margin-bottom: 0px;
        }
        .footer
        {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-top: 40px;
            border-top: 1px solid #eee;
        }
        body
        {
            margin-left: 40px;
            margin-right: 40px;
        }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="btn-group pull-right">
                          <a href="/" class="btn btn-sm btn-default">Home</a>
                          <button id="edit-toggle" type="button" class="btn btn-sm btn-default">Edit</button>
                          <a href="/link" class="btn btn-sm btn-default">New Link</a>
                          <a href="/tag" class="btn btn-sm btn-default">New Tag</a>
                          <a href="/admin" class="btn btn-sm btn-default">Admin</a>
                        </div>
                        <h1>Dispatch</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    No page content.
                    {% endblock content %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer">
                        <p>© Alastair McClelland 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript">
        $( "#edit-toggle" ).click(function() {
            $( "#edit-toggle" ).toggleClass("active").toggleClass("btn-default").toggleClass("btn-danger");
            $( ".go-link" ).toggleClass("hidden");
            $( ".edit-link" ).toggleClass("hidden");
        });
    </script>
</html>