{% extends "base.html" %}

{% block menu %}

{% endblock menu %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="jumbotron">
                <h1>Bookmarks</h1>
                <br />
                <p><a class="btn btn-primary btn-lg" href="/bookmarks/">Go</a></p>
            </div>

        </div>
        <div class="col-md-6">

            <div class="jumbotron">
                <h1>Tasking</h1>
                <br />
                <p><a class="btn btn-primary btn-lg" href="/tasking/">Go</a></p>
            </div>

        </div>

    </div>
</div>

{% endblock content %}