{% extends "base.html" %}
{% load location_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="/todo/task/" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}" class="col-md-2 control-label">{{ field.label }}</label>
                        <div class="col-md-10">
                            {{ field|addcss:"form-control" }}
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}